.logo {
    font-family: $second_font;
    color: $color_bg;
    font-size: 3rem;

    &:hover {
        cursor: pointer;
        transition: $main_animation;
    }
}

/*header*/
.header {
    background-color: $color_add;
}

.header__block {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


/*menu*/

.nav__list-link {
    color: $color_bg;
    font-size: 2rem;
    gap: 3rem;

    &:hover {
        color: $color_light;
    }
}


.nav {
    display: flex;
   
}

.nav__list {
    display: inline-flex;
    align-items: flex-start;
    margin: auto 0;
    gap: 3rem;
}

.nav__list-item {
   
}


/* Welcome */
.welcome {
    background: url('./../images/welcome.png'), lightgray 50% / cover no-repeat;
    width: 144rem;
    height: 60rem;
}

.welcome__content {
    color: $color_bg;
    text-transform: uppercase;
    text-align: center;
    font-family: $second_font;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5rem;
    letter-spacing: 0.3rem;
    display: flex;
    width: 52rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.welcome__block {
    display: flex;
    width: 60rem;
    height: 22rem;
    padding: 3.5rem 4rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: $color_add;
}