/*about*/
.about {
    display: flex;
    width: 140rem;
    flex-direction: column;
    justify-content: center;

    @media (min-width:768px) and (max-width:1439px) {
        width: 100%;

    }



}

.about__text {
    text-align: center;
    color: $color_main;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4rem;
    margin-bottom: 2rem;
}

.about__slider_container {
    height: 56rem;
    display: flex;
    justify-content: space-between;

    &+.about__slider_img {
        width: 45rem;

    }

    @media (min-width:768px) and (max-width:1439px) {
        &+.about__slider_img {
            width: 59%;
        }

        align-items: center;
        margin: auto 8rem;
        // justify-content: center;
    }

}

.about__slider_arrow {
    display: none;
    background: none;
    border: none;
    &:disabled{

        &:hover{
            cursor:not-allowed;;
        }
    }
}

.about__slider_img-hide {
    opacity: 0;
}

@media (min-width:768px) and (max-width:1439px) {


    .about__slider_arrow {
        display: inline;
        height: fit-content;
        margin-top: 4rem;
    }
}


.about__slider_carousel {
    display: flex;
    width: 6.8rem;
    justify-content: space-between;
    margin: 4rem auto;

}

.carousel__container {
    width: 2.6rem;
    height: 2.6rem;

    &:hover {
        cursor: pointer;
        animation: $main_animation;
    }
}

.carousel__circle {
    background: $color_add;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: none;
    animation: $main_animation;

}

.carousel__circle-active {
    background-color: $color_light;
}

.carousel__button {
    display: flex;
    background: none;
    border: none;
    z-index: 10;

    &:hover {
        cursor: pointer;
        animation: $main_animation;
    }
}

/* favortes*/


.favorites__text {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.favorites__choise {
    display: flex;
    margin-bottom: 4rem;
}

.season__radio {
    margin-right: 9.5rem;

    input[type="radio"] {
        position: absolute;
        opacity: 0;

        +.radio-label {
            cursor: pointer;
            transition: $main_animation;

            &:before {
                content: '';
                background: $color_bg;
                border-radius: 100%;
                border: 1px solid darken($color_bg, 100%);
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                position: relative;
                top: -2px;
                left: -4px;
                margin-right: 1.7rem;
                margin-top: 4px;
                cursor: pointer;
                // text-align: center;
                transition: $main_animation;
            }
        }

        &:checked {
            +.radio-label {
                font-weight: 700;
                transition: $main_animation;

                &:before {
                    background-color: $color_main;
                    box-shadow: inset 0 0 0 4px $color_bg;
                    width: 1.5rem;
                    transition: $main_animation;
                }
            }
        }

        &:focus {
            +.radio-label {
                &:before {
                    outline: none;

                    border-color: $color_main;
                }
            }
        }

        &:disabled {
            +.radio-label {
                &:before {
                    box-shadow: inset 0 0 0 4px $color_bg;
                    border-color: darken($color_bg, 25%);
                    background: darken($color_bg, 25%);
                }
            }
        }

        // +.radio-label {
        //     &:empty {
        //         &:before {
        //             //  margin-right: 0;
        //         }
        //     }
        // }
    }
}

.radio-label {
    font-size: 2rem;


}

.season__radio {
    width: 10rem;
    margin-left: -.3rem;

    &:nth-child(1) {
        width: 11rem;
    }

    &:nth-child(3) {
        width: 13rem;
        margin-left: -.7rem;
    }


    &:nth-child(4) {
        width: 12rem;
        margin-left: -1.8rem;
    }

    @media (min-width:768px) and (max-width:1439px) {
        &:nth-child(odd) {
            display: flex;
            width: auto;
            margin-right: 0;
        }

        &:nth-child(even) {
            width: auto;
            display: flex;
            margin-right: 0;
        }


    }
}

@media (min-width:768px) and (max-width:1439px) {
    .season {
        display: flex;
        // justify-content: space-between;
        gap: 14.3%;
        margin-left: .6rem;
    }
}





/* books */


.books {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 21.7rem;
    row-gap: 4rem;
    margin-bottom: 6.2rem;

}

.book {
    position: relative;
    flex-direction: column;
    width: 53rem;
    height: 53.5rem;
    border: 1px solid $color_main;
    padding-top: 1.5rem;
    padding-left: 2rem;
}



.book__img {
    position: absolute;
    top: 25rem;
    left: 39rem;
}

.book__pick {
    font-family: $second_font;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
}

.book__pick+hr {
    width: 6rem;
    height: 0.1rem;
    color: $color_light;
    margin-top: -.5rem;
}

.book__title,
.book__author {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-top: 2rem;
}

.book__author {
    text-transform: capitalize;
    margin-top: 0rem;
}

.book__descr {
    width: 35.5rem;
    font-size: 1.5rem;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    margin-top: 2rem;
}

.book__buy {
    position: absolute;
    bottom: 1.3rem;
    width: 7.5rem;
    height: 3rem;
    border-radius: 0.2rem;
    border: 1px solid $color_add;
    background-color: $color_bg;
    font-weight: 700;




}

@media (min-width:768px) and (max-width:1439px) {
    .books {
        // display: flex;
        // flex-direction: column;
        width: 94%;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        row-gap: 2%;
    }

    .book {
        justify-self: center;
    }

    .favorites {
        margin-bottom: 26%;
    }
}

/* coffeeShop */
.coffeShop__menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: column wrap;
}

.coffeeShop__text {
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    margin-top: 4rem;
    width: 140rem;
    margin-bottom: 4rem;
}

.coffeShop__menu-tea {
    text-align: right;

    .menu__list-name {
        width: 22rem;
        margin-left: -2rem;
    }

    @media (min-width:768px) and (max-width:1439px) {
        margin-left: 28rem;
    }

}

.menu__list-price {

    font-family: $second_font;
}

.menu {
    width: 32%;
    max-width: 45rem;
}

.menu__header {
    color: $color_light;
    font-family: $second_font;
    font-size: 4rem;
    font-style: normal;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    margin-bottom: 4rem;
    font-weight: 400;
}

.menu__list-item {
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    display: flex;
    margin-bottom: 4rem;
    width: 100%;

}

.menu__list-name {
    width: 20rem;

    &+hr {
        width: 10rem;
        height: 0rem;
        margin: auto;
        color: $color_light;
    }
}

@media (min-width:768px) and (max-width:1439px) {
    .coffeeShop__text {
        width: 101%;
    }



    .menu {
        width: 61%;
    }

    .coffeShop__menu:nth-child(2) {
        align-content: flex-end;
    }



}

/*contacts*/

.contacts {
    padding-bottom: 4.1rem;

    .heading2 {
        margin-top: -2rem;
    }
}

.contacts__text {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;

    a {
        color: $color_main;
        text-decoration: none;
        background-image: linear-gradient($color_light, $color_light);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% .4rem;
        transition: background-size .3s;

        &:hover {
            color: $color_light-dark;
            background-size: 100% .2rem;
        }

    }
}

.contacts__text-bold {
    font-weight: 600;
}

.contacts__text-margin--small {
    margin-bottom: 2rem;

}

.contacts__text-margin--big {
    margin-bottom: 4rem;

}

.contacts__container {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}



.contacts__map {
    width: 68.6rem;
}

@media (min-width:768px) and (max-width:1439px) {
    .contacts__container_first {
        margin-bottom: 10rem;
    }

    .contacts__container_second {
        margin-left: 2.3rem;
        width: 100%;
        max-width: 69.6rem;
        margin-top: .5rem;
    }

}

/* digital cards */
.digitalCards__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    flex-flow: column wrap;
}

.digitalCards__container_first {
    width: 60rem;
    align-items: center;
}

.digitalCards__first_header {
    font-size: 3rem;
    letter-spacing: 0.06rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 3rem;
}

.digitalCards__form {
    box-sizing: border-box;
    width: 60rem;
    height: 38.6rem;
    border: 3px solid #BB945F;
    background: #FFF;
    padding: 2rem 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.digitalCards__form_paragraf {
    font-family: $second_font;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5rem;
    letter-spacing: 0.06rem;
}

.digitalCards__form_highlighted {
    box-sizing: inherit;
    background: $color_light;
    width: 56rem;
    height: 27.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 2rem 2.5rem;
}

.digitalCards__form_input {
    width: 52rem;
    height: 6.6rem;
    border-radius: 1rem;
    background: $color_bg;
    border: none;
}

.digitalCards__form_button {
    width: 24.2rem;
    padding-top: 1.1rem;
    padding-bottom: .4rem;
    align-items: flex-end;
    border-radius: 0.2rem;
    border: 0.1rem solid $color_add;
    color: $color_add;
    background-color: $color_bg;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1rem;

}

.digitalCards__form_input {
    box-sizing: border-box;
    color: $color_value;
    font-family: $second_font;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5rem;
    letter-spacing: 0.06rem;
    padding-left: 1.9rem;
}

.digitalCards__container_second {
    text-align: right;
    width: 45.6rem;
}

.digitalCards__second_header {
    font-family: $second_font;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06rem;
}

.digitalCards__second_text {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: 0.04rem;
    margin: 3.5rem 0;
}

.digitalCards__second_buttons {
    display: flex;
    padding-left: 28.7rem;

}

.digitalCards__second_button-margin {
    margin-right: 2rem;
}

.digitalCards__second_button {
    display: flex;
    width: 7.5rem;
    height: 3rem;
    padding: 1rem 0rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    border: .1rem solid $color_add;
    background: $color_bg;

}

@media (min-width:768px) and (max-width:1439px) {
    .digitalCards__container_first {
        width: 100%;

    }

    .digitalCards__form {
        width: 100%;
        max-width: 60rem;
        margin: 0 auto;
    }

    .digitalCards__container_second {
        text-align: center;
        margin: 0 auto;
        padding-top: 2.3rem;
    }

    .digitalCards__second_text {
        max-width: 60rem;
        margin-bottom: 1px;
    }

    .digitalCards__second_buttons {
        padding-left: 0;
        justify-content: center;
    }

}

.slider {
    width: 140rem;
    overflow: hidden;
    display: flex;
    gap:2.5rem;
    @media (min-width:768px) and (max-width:1439px) {
        
        width: 45rem;
    }
}


.about__slider_img {
    position: relative;
    transition: $main_animation;
    
    @media (min-width:768px) and (max-width:1439px) {
          
    }
    //left:-20rem;
}

.books {

    transition: $main_animation;
    //position: relative;
    overflow: hidden;
    display: grid;
    height:114.4rem ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.spring,
.winter,
.summer,
.autumn{
    display: none;
}



