/* colors */
$color_main:#000000;
$color_add:#0C0C0E;
$color_light:#BB945F;
$color_light-dark:#9a6214;
$color_bg:#FFFFFF;
$color_value:#8E8E8E;


/*sizes*/
$mobile:380px;
$tablet:728px;
$mobile_transition:767px;
$desktop:1439px;


$main_animation:all 0.3s ease-in;
$max_width:1400px;
$max_width_tablet:668px;
$max_width_mobile:330px;

/*font-family*/

$first_font: 'Inter', regular;
$second_font: 'Forum', cursive;